<template name="creativesBrowser">
    <div class="container">

        <div class="row">
            <div class="pull-right">
                {{#if show_spinner}}
                    <img src="/img/spinner.gif" height="20" width="20"/>
                {{/if}}
                <button class="btn btn-success button-new-creative-js"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Creative</button>
                <button class="btn btn-primary button-refresh-creatives-js"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Creatives Browser</h3>
                    </div>
                    <div class="panel-body">
                        {{#if show_alert}}
                            <div class="alert alert-success">
                                <button type="button" class="close alert-close-creatives-js" aria-hidden="true">&times;</button>
                                <strong>Success! </strong>Creatives are sync'ed with Yandex BannerStore service.
                            </div>
                       {{/if}}
                        <table class="table table-hover">
                            <thead>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Advertiser</th>
                                <th>Expires At</th>
                                <th>Tag</th>
                                <th>Is Deployed</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                {{#each creatives}}
                                    {{> creative}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="creative">
<tr>
    <td>{{CreativeNmb}}</td>
    <td>{{CreativeName}}</td>
    <td>{{Advertiser}}</td>
    <td>{{ExpireDate}}</td>
    <td>{{Tag}}</td>
    <td>{{IsDeployed}}</td>
    <td>{{Status}}</td>
    <td>
        <a href="/creative/{{CreativeNmb}}/view" class="link-view-creative-js"><span class="glyphicon glyphicon-eye-open"></a>&nbsp;
        <a href="/creative/{{CreativeNmb}}/edit" class="link-edit-creative-js"><span class="glyphicon glyphicon-edit"></span></a>
    </td>
</tr>
</template>