<template name="newCreative">
    {{#autoForm schema=newCreative id="newCreative"}}
    <fieldset>
        <legend>Создать новый креатив</legend>

        <div class="form-group{{#if afFieldIsInvalid 'CreativeName'}} has-error{{/if}}">
            {{afFieldLabel "CreativeName" class="control-label"}}
            {{afFieldInput "CreativeName"}}
            {{#if afFieldIsInvalid "CreativeName"}}
            <span class="help-block">{{afFieldMessage "CreativeName"}}</span>
            {{/if}}
        </div>

        <div class="form-group{{#if afFieldIsInvalid 'TnsAdvertiserNmb'}} has-error{{/if}}">
            {{afFieldLabel "TnsAdvertiserNmb" class="control-label"}}
            {{afFieldInput "TnsAdvertiserNmb" type="hidden" id="advertiser-newcreative"}}
            <input type=text class="form-control advertiser-newcreative-typeahead-js" data-provide="typeahead">
            {{#if afFieldIsInvalid "TnsAdvertiserNmb"}}
            <span class="help-block">{{afFieldMessage "TnsAdvertiserNmb"}}</span>
            {{/if}}
        </div>

        <div class="form-group{{#if afFieldIsInvalid 'TemplateNmb'}} has-error{{/if}}">
            {{afFieldLabel "TemplateNmb" class="control-label"}}
            {{afFieldInput "TemplateNmb" type="hidden" id="template-newcreative"}}
            <input type=text class="form-control template-newcreative-typeahead-js" data-provide="typeahead">
            {{#if afFieldIsInvalid "TemplateNmb"}}
            <span class="help-block">{{afFieldMessage "TemplateNmb"}}</span>
            {{/if}}
        </div>

        <div class="form-group{{#if afFieldIsInvalid 'ExpireDate'}} has-error{{/if}}">
            {{afFieldLabel "ExpireDate" class="control-label"}}
            {{afFieldInput "ExpireDate"}}
            {{#if afFieldIsInvalid "ExpireDate"}}
            <span class="help-block">{{afFieldMessage "ExpireDate"}}</span>
            {{/if}}
        </div>

        <div class="form-group{{#if afFieldIsInvalid 'Tag'}} has-error{{/if}}">
            {{afFieldLabel "Tag" class="control-label"}}
            {{afFieldInput "Tag"}}
            {{#if afFieldIsInvalid "Tag"}}
            <span class="help-block">{{afFieldMessage "Tag"}}</span>
            {{/if}}
        </div>

        <div class="form-group{{#if afFieldIsInvalid 'Note'}} has-error{{/if}}">
            {{afFieldLabel "Note" class="control-label"}}
            {{afFieldInput "Note" rows="10"}}
            {{#if afFieldIsInvalid "Note"}}
            <span class="help-block">{{afFieldMessage "Note"}}</span>
            {{/if}}
        </div>

        <div>
            <button type="submit" data-meteor-method="newCreative" class="btn btn-primary">Создать</button>
            <button type="reset" class="btn btn-default">Очистить</button>
        </div>
    </fieldset>
    {{/autoForm}}
</template>
