<template name="articles">
    <legend>TNS Articles</legend>
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                <input type=text class="form-control targeting-articles-typeahead-js" data-provide="typeahead" placeholder="Search Article">
            </div>
        </div>
        <div class="col-xs-1">
            <button class="btn targeting-articles-add-js"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
        <div class="col-xs-4">

            <ul class="list-group">
                {{#if articles}}
                    {{#each articles}}
                        <li class="list-group-item">
                            {{Name}} ({{Nmb}})
                            <span class="badge"><span class="glyphicon glyphicon-remove targeting-articles-remove-js"></span></span>
                        </li>
                    {{/each}}
                {{else}}
                    <li class="list-group-item">
                        <i>The list is <strong>empty</strong></i>
                    </li>
                {{/if}}
            </ul>

            <button class="btn btn-primary targeting-articles-update-js">
                <span class="glyphicon glyphicon-save"></span>
                &nbsp;Update
            </button>

        </div>
    </div>
</template>
