<template name="macros">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {{> coffeeAlerts}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form role="form">
                    <legend>Macros</legend>
                    {{#each macros}}
                        {{> macroinput}}
                    {{/each}}
                </form>
                <button class="btn btn-primary macros-update-js">
                    <span class="glyphicon glyphicon-save"></span>
                    &nbsp;Update
                </button>
            </div>
            <div class="col-lg-5">
                <legend>Template</legend>
                <div class="well">
                    <pre>{{template_data}}</pre>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="macroinput">
    <label>{{Name}}</label>
    <div class="form-group">
        {{#if isType 2}}
            <select data-placeholder="{{placeholder}}" style="width: 350px;"
                class="select2" id="macros-{{Nmb}}">
                <option></option>
                {{#each files}}
                    <option value={{FileNmb}}>{{FileName}}</option>
                {{/each}}
            </select>
        {{else}} {{#if isType 5}}
            <select data-placeholder="{{placeholder}}" style="width: 350px;"
                    multiple class="select2" id="macros-{{Nmb}}">
                <option></option>
                {{#each files}}
                    <option value={{FileNmb}}>{{FileName}}</option>
                {{/each}}
            </select>
        {{else}}
            <div class="form-group">
                <input  type="text" class="form-control" value="{{Value}}"
                        placeholder="{{placeholder}}" id="macros-{{Nmb}}">
            </div>
        {{/if}} {{/if}}
    </div>
</template>
