<template name="queueControl">
    <h3>Select file(s) to upload:</h3>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
        <input name="tag" type="text" class="form-control file-tag-js" placehholder="Tag">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
        <input name="files" type="file" class="form-control fileUploader" multiple>
    </div>
</template>