<template name="macrosBrowser">
    <div class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="cols-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Macros Browser</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4">
                                <legend>Macros</legend>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{selected.Name}} ({{selected.Nmb}}) <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            {{#each macros}}
                                                <li class="{{isSelected}}"><a href="#" class="link-macros-chooser-js">{{Name}} ({{Nmb}})</a></li>
                                            {{/each}}
                                        </ul>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-8">
                                <div id="sticky">
                                    {{#with selected}}
                                        <legend>Macros Data</legend>
                                        <table class="table table-condensed table-striped table-bordered">
                                            <thead>
                                                <th>Property</th>
                                                <th>Value</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>MacrosNmb</th>
                                                    <td>{{Nmb}}</td>
                                                </tr>
                                                <tr>
                                                    <th>MacrosName</th>
                                                    <td>{{Name}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Caption</th>
                                                    <td>{{Caption}}</td>
                                                </tr>
                                                <tr>
                                                    <th>MacrosType</th>
                                                    <td>{{Type}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Is Enabled</th>
                                                    <td>
                                                        {{#if IsEnabled}}
                                                            <strong>Yes</strong>
                                                        {{else}}
                                                            <strong>No</strong>
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
