<template name="macrosBrowser">
    <div class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="cols-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Macros Browser</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4">
                                <legend>Macro Name</legend>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Choose Macro <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            {{#each macros}}
                                                <li class="{{isSelected}}"><a href="#" class="link-macros-chooser-js">{{Name}} ({{Nmb}})</a></li>
                                            {{/each}}
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control namenmb-macros-js" value="{{selected.Name}} ({{selected.Nmb}})"disabled>
                                </div><!-- /input-group -->
                            </div>

                            <div class="col-md-8">
                                <div id="sticky">
                                    {{#with selected}}
                                        <legend>Macro Data</legend>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <strong>Caption: </strong>{{Caption}}
                                            </li>
                                            <li class="list-group-item">
                                                <strong>Type: </strong>{{Type}}
                                            </li>
                                            <li class="list-group-item">
                                                <strong>Is Enabled: </strong>
                                                {{#if selected.IsEnabled}}
                                                    <strong>Yes</strong>
                                                {{else}}
                                                    <strong>No</strong>
                                                {{/if}}
                                            </li>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>